

img{
    width: 250px;
    height: 300px;
    border: 2px solid black ;
    background-color:skyblue;
    border-radius: 10px;

}


.card{
    margin-top: 35px;
    margin-left: 600px;

    margin-right: 100px;
    border: 2px solid;
    padding: 10px;
    width: 270px;
    background-color: aquamarine;
}


table{
    margin-bottom: 2px;
    border: 2px solid; 
    
}


